[submodule "third_party/SAXSpy"]
	path = third_party/SAXSpy
	url = https://github.com/isaigordeev/SAXSpy.git
[submodule "third_party/saxsmodel"]
	path = third_party/saxsmodel
	url = https://github.com/isaigordeev/saxsmodel.git
